@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-m);
  color: var(--color-primary);
  background: var(--bg-color);
}

.app {
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  position: relative;
  padding: 20px;
  flex-grow: 1;
}

.item-left-margin {
  margin-left: 15px;
}

.item-right-margin {
  margin-right: 15px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

svg {
  fill: var(--bg-color);
}
