.error {
  color: var(--color-error);
}

.background {
  color: var(--bg-color);
}

.backgroundInverted {
  color: var(--inverted-bg-color);
}

.primary {
  color: var(--color-primary);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}
