.Navbar {
  width: 100%;
  height: var(--header-heigth);
  background-color: var(--bar-bg-color);
  display: flex;
  padding: 20px;
  align-items: center;

  .links {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }
}
